<div class="navbar">
  <a href="<%= root_path %>" style="color: #800080;">Home</a> |
  <a href="<%= about_path %>" style="color: #800080;">About Me</a> |
  <a href="<%= projects_path %>" style="color: #228B22;">Projects</a> |
  <a href="<%= skills_path %>" style="color: #FF1493;">Skills</a> |
  <a href="<%= guestbook_path %>" style="color: #1E90FF;">Guestbook</a> |
  <a href="https://github.com/DAVISEVAN" style="color: #FFD700;">GitHub</a> |
  <a href="https://www.linkedin.com/in/evan-davis-670069314/" style="color: #4682B4;">LinkedIn</a>
</div>