<!DOCTYPE html>
<html>
<head>
  <title>EvanDavisPortfolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>

<body class="dark-mode">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/audio_player' %>

  <%= yield %> 

  <!-- Include JavaScript files -->
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'audio_control' %>
</body>
</html>
